* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: normal;

}

/* Nav-Bar section */

.header {
    display: none;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.23);
    position: fixed;
    z-index: 1000;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    width: 100%;
    border-bottom: 1px solid black;
    background-color: aliceblue;

}

.logo {
    max-width: 20%;
    text-align: center;
}

.logo img {
    width: 120px;
}

.nav-links {
    min-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
}

.nav-links a {
    color: black;
}

.nav-links button {
    min-width: 150px;
    height: 110px;
    background-color: #B35900;
    color: white;
    border: none;
    margin-right: 6px;
    font-size: 1.2rem;
    font-weight: 700;
    transition: color;
}

.nav-links button:hover {
    color: black;
}



section {
    width: 98%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.638);
    margin: 10px auto;
}


.footer-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    background-color: white;
    box-shadow: #dd750c6e 0px 54px 55px, #dd750c6e 0px -12px 30px, #dd750c6e 0px 4px 6px, #dd750c6e 0px 12px 13px, #dd750c6e 0px -3px 5px;
    padding: 50px 50px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.media-logos {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    gap: 50px;
}

.logos a i{
    padding: 10px;
    font-size: 30px;
    margin-top: 10px;
}

.media {
    display: flex;
    gap: 20px;
}

.media-logos a {
    font-size: 2rem;
    padding: 10px;
    color: rgba(0, 0, 0, 0.552);
}

.media-logos a:hover{
    color: #B35900;
    filter: drop-shadow(1px solid #B35900);
    transition: all 0.3s ease-in;
}

.quick-links{
    width: auto;
}

.quick-links h1 {
    width: auto;
    text-align: center;
    font-size: 2rem;
    padding: 5px 15px;
    color: black;
    border-radius: 10px;
    margin: 20px 0;
    border-bottom: 2px solid #B35900;
}

.links {
    display: grid;
    padding: 10px;
}

.links a {
    font-size: 1.2rem;
    padding: 5px 0;
    color: rgba(0, 0, 0, 0.552);
    letter-spacing: 1px;
}

.links a:hover{
    color: #ccaa88de;
    transition: all 0.3s ease-in;
}

.address-details{
    width: 30%;
}

.address-details img{
    width: 150px;
    display: flex;
    margin: 0 auto;
    gap: 20px;
}

.address-details a{
    font-size: 1rem;
    font-family: "Urbanist", sans-serif;
    font-size: small;
    margin: 5px 0 2px 0;
}

.address-details i{
    padding-right: 10px;
}

.last-footer {
    background-color: black;
    color: #FFFFFF80;
    display: flex;
    justify-content: space-around;
    min-height: 80px;
    min-width: 100%;
    align-items: center;
}

.last-footer a {
    color: #FFFFFF80;
}

.last-footer a:hover {
    color: #ccaa88de;
    transition: all 0.3s ease-in;
}


/* Mobile Styles */
@media (max-width: 920px) {

    .nav-links a,
    button {
        display: none;
    }

    .nav-links {
        min-width: auto;
    }

    .toggle-btn {
        display: block;
    }

    .dropdown-menu {
        display: flex;
    }

}